@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f8f7;
}

header {
    background-color: #2f8f83;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    margin: 0.5rem 0;
    
}

main {
    padding: 2rem;
}

.about {
    background-color: #e7f5f2;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
}


.background {
    background-color: #fff;
    padding: 0rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex: 1 1 calc(33.333% - 2rem);
    box-sizing: border-box;
    text-align: center;
}

.background img {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #2f8f83;
    
color: #333;
}

@media (max-width: 768px) {
    .background {
        flex-direction: column;
    }

    .background img {
        flex: 1 1 100%;
    }
}


